@charset "UTF-8";
/* CSS Document */

body  {
    background-image: url(../images/back.png);
    background-position: top center;
    background-size: cover;

}

div {
    width: 755px;
    height: 1123px;
    background-image: url(../images/poster2.jpg);
    background-size: cover;
    margin: 80px auto 80px auto;

}

a   {   
    opacity: 0;

}

a:hover {

    opacity: 1;
}



    

